---
import GlobalFooter from "../components/global/GlobalFooter.astro";
import GlobalHeader from "../components/global/GlobalHeader.astro";

import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Records | yamanoku.net",
  description = "やまのく（yamanoku）のこれまでの登壇・発表資料のまとめ"
} = Astro.props;

const ogImage = "https://yamanoku.net/ogp/ogp@2x.png";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />
    <link rel="canonical" href={canonicalURL} />
  </head>
  <body>
    <GlobalHeader />
    <main id="main">
      <slot />
      <section aria-labelledby="related-pages">
        <h2 id="related-pages">yamanoku.net関連ページ</h2>
        <ul>
          <li><a href="https://yamanoku.net">ポータルサイト</a></li>
          <li><a href="https://archives.yamanoku.net">アーカイブ</a></li>
        </ul>
      </section>
    </main>
    <GlobalFooter />
  </body>
</html>

